body, html {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#timer {
    font-size: 48px;
    margin: 20px;
}

button {
    font-size: 20px;
    padding: 10px;
    margin: 5px;
}

#results p {
    font-size: 24px;
}

#error p {
    font-size: 24px;
    color: red;
}

#admin {
    text-align: right;
    font-size:  1.8em; /* Adjust the size as needed */
    position: fixed;
    bottom:  0;
    right:  0;
}

#history {
    width:   90vw; /*  90% of the viewport width */
    height:  80vh; /*  90% of the viewport height */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}